name: Test Probing Tools

on:
  push:
    branches: [ "develop", "main" ]
  pull_request:
    types: [ opened, synchronize ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is running on a ${{ runner.os }} server hosted by GitHub!"
      - uses: actions/checkout@v6
      - run: echo "The ${{ github.repository }} repository has been cloned."
      - run: echo "Setting up JDK"
      - name: set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: set up Cmake
        run: sudo apt-get install -y cmake build-essential libgtest-dev
      - run: echo "The workflow is now ready to test your code."
      - run: echo "Building Debug APK."
      - name: Build Android Ping and Port tests
        run: ./gradlew build
      - name: Build Port Scan
        run: cd port-scan && cmake . && make # && ./port_scan_tests # re-enable tests when they work
      - run: echo "Build status report=${{ job.status }}."
